<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a href='#' class="navbar-brand">Admin</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="true">
            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer"(click)="onUserSearch()">Search Users</a></li>
                <li routerLinkActive="active"><a routerLink="/profile">Back To Profile</a></li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="logo">
    <img src="../../../assets/logo1.jpeg" alt="logo" width="500px" height="250px">
  </div>
  <app-user-search></app-user-search>
  <!-- <app-review-search *ngIf="reviewSearch"></app-review-search> -->