<nav class="navbar navbar-dark red">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a href='#' class="navbar-brand titleText">Movie Thoughts...</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="true">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a class="text" routerLink="/login">Login</a></li>
                <li routerLinkActive="active"><a class="text" routerLink="/register">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>