.star {
    font-size: 2em;
    color: grey;
    text-shadow: black 1.5px 1px;
}

.filled {
    color: yellow ;
}

.test{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.reviews{
    width: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%)

}

.info{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 80%;
    align-items: baseline;
    margin-left: 5px;
}

.poster{
    display: flex;
}