.example-card {
    margin-right: 5%;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
   
  }

  .card-container{
    color: red;
    font-size: 2em;
    font-family: "Movie-title";
  }

  .ranking{
    font-family:"Movie-title";
    font-weight: bolder;
    font-size: 1.3em;
  }

  .title{
    font-family: "Movie-title";
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  .image {
max-width: 100%;  }

