<div class="user">
<div class="favorites">
        <div>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{favorite.movieTitle}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{favorite.poster}} alt="Owen is Dad" height="200px" width="125px">
                <mat-card-content>
                    <p>
                        {{favorite.ranking}}
                        <br />
                        {{favorite.username}}
                    </p>
                </mat-card-content>
                
            </mat-card>
        </div>
        
    </div>
</div>