.example-form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: baseline;
  }
  
  .example-full-width {
    width: 100%;
  }

  .logo{
  display: flex;
  /* position: relative; */
  /* transform: translate(-30%); */
  justify-content: center;
  /* left: 50%; */
  padding-bottom: 2em;
  }

  .searchMeDad{

  position: relative;
  left:50%;
  transform: translate(-50%);

  }

  .searchBox{
    width: 450px;
    height: 50px;
    margin-right: 5px;
  }

  h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 3em;
    margin-bottom: 3%;
  }

  input{
    color: white
  }

  ::ng-deep.mat-form-field-underline {
    background-color: white !important;
  } 

  ::ng-deep.mat-form-field-ripple {
    background-color: white !important;
   }

   ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
   }

   ::ng-deep .mat-form-field-empty.mat-form-field-label {
     color: white !important;
   }

  