 .body{
   position: absolute;
   left:50%;
   transform:translate(-50%);
   width: 100%;
 }
 
 .searchMeDad{
    position: absolute;
    left: 50%;
    padding-top: 5%;
    transform: translate(-50%);
    }

    /* .searchMeDad{
      position: fixed;
      padding-top: 10%;
      } */

    .tableDiv{
      position: relative;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      padding-top: 20%;
    }

    /* .editButton{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    } */

    table{
      table-layout: fixed;
      color: black;
    }

    td{
      word-wrap: break-word;
    }

    /* .formDiv{
      width: 100%;
      position: absolute;
      padding-top: 5%;
      left: 50%;
      transform: translate(-50%);
    } */

    h2{
      text-align: center;
      color: white;
    }

    .searchBox{
      width: 450px;
      height: 50px;
      margin-right: 5px;
      /* background-color: white;
      border-radius: 10px; */
  
    }

    .userSearchName{
      color: white;
    }

    .input{
      color: black;
    }
  
    ::ng-deep.mat-form-field-underline {
      background-color: white !important;
    } 
  
    ::ng-deep.mat-form-field-ripple {
      background-color: white !important;
     }
  
     ::ng-deep .mat-focused .mat-form-field-label {
      color: white !important;
     }
  
     ::ng-deep .mat-form-field-empty.mat-form-field-label {
       color: white !important;
     }
  
    