   <div class="reviews" *ngFor="let review of reviews">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{review.movieTitle}}</h4>
              </mat-panel-title>
              <mat-panel-description>
                <div class="test">
                 <ngb-rating [rate]="review.reviewRating">
                      <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                  </ngb-rating> 
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="poster">

              <img src="{{review.poster}}" alt="poster image" width="120" height="160">
              <br/>
              <div class="info">
                      By: 
                       
                      
                            <a (click)="showUserProfile()" style="cursor: pointer"><span #username>{{review.username}}</span></a>
                         
                       
                      <hr>
                      <p>{{review.reviewText}}</p>
              </div>
            </div>
        </mat-expansion-panel>
        <br/>
      </div>
