<div class="headContainer">
    <div class="headerBackground">
        <div class="profPic">
            <img src={{profilePic(bigUser.profilePic)}} height="80" width="75">
        </div>
        <div>
            <h1 id="username">
                {{bigUser}}
            </h1>
        </div>
        <br>
        <br>
    </div>
</div>

<!-- favorites -->
<div class="favorites">
    <div *ngFor="let favorite of firstfive">
        <mat-card class="example-card">
            <mat-card-header class="header">
                <mat-card-title class="ranking">{{favorite.ranking}}</mat-card-title>
                <mat-card-subtitle class="title">{{favorite.movieTitle}}</mat-card-subtitle>
            </mat-card-header>
            <br>
            <br>
            <div class="col-xs-12">
                <img class="image" mat-card-image src={{favorite.poster}} alt="Owen is Dad">
            </div>
            <mat-card-actions>
                <button class="delete" mat-button (click)="delete(favorite.id)">DELETE</button>
                <button class="update" mat-button (click)="updateOn()">UPDATE</button>
                <div class="updating" *ngIf="updateTrue == true">
                    <form class="form" [formGroup]="selectRanking">
                        <p>Please select a ranking for this favorite.</p>
                        <mat-select class="formSelect" formControlName="ranking" value=''>
                            <mat-option value=1>1</mat-option>
                            <mat-option value=2>2</mat-option>
                            <mat-option value=3>3</mat-option>
                            <mat-option value=4>4</mat-option>
                            <mat-option value=5>5</mat-option>
                            <mat-option value=6>6</mat-option>
                            <mat-option value=7>7</mat-option>
                            <mat-option value=8>8</mat-option>
                            <mat-option value=9>9</mat-option>
                            <mat-option value=10>10</mat-option>
                        </mat-select>
                        <button mat-raised-button type="submit" (click)="update(favorite.id)" color="danger">Update
                            Favorite</button>
                    </form>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>
<hr>
<br>
<br>
<div class="favorites">
    <div *ngFor="let favorite of secondfive">
        <mat-card class="example-card">
            <mat-card-header class="header">
                <mat-card-title class="ranking">{{favorite.ranking}}</mat-card-title>
                <mat-card-subtitle class="title">{{favorite.movieTitle}}</mat-card-subtitle>
            </mat-card-header>
            <br>
            <br>
            <div class="col-xs-12">
                <img class="image" mat-card-image src={{favorite.poster}} alt="Owen is Dad">
            </div>
            <mat-card-actions>
                <button class="delete" mat-button (click)="delete(favorite.id)">DELETE</button>
                <button class="update" mat-button (click)="updateOn()">UPDATE</button>
                <div class="updating" *ngIf="updateTrue == true">
                    <form class="form" [formGroup]="selectRanking">
                        <p>Please select a ranking for this favorite.</p>
                        <mat-select formControlName="ranking" value=''>
                            <mat-option value=1>1</mat-option>
                            <mat-option value=2>2</mat-option>
                            <mat-option value=3>3</mat-option>
                            <mat-option value=4>4</mat-option>
                            <mat-option value=5>5</mat-option>
                            <mat-option value=6>6</mat-option>
                            <mat-option value=7>7</mat-option>
                            <mat-option value=8>8</mat-option>
                            <mat-option value=9>9</mat-option>
                            <mat-option value=10>10</mat-option>
                        </mat-select>
                        <button mat-raised-button type="submit" (click)="update(favorite.id)" color="danger">Update
                            Favorite</button>
                    </form>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>
<br>
<!-- reviews -->
<!-- <div class="yourReviews"> -->
<!-- <ul class="reviews"> -->
<div class="work">
    <div class="reviews" *ngFor="let review of bigReviews">
        <mat-expansion-panel class="bleh">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>{{review.movieTitle}}</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <div class="test">
                        <ngb-rating [rate]="review.reviewRating">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="poster">
                <img src="{{review.poster}}" alt="poster image" width="60" height="80">
            </div>
            <div class="info">
                By:


                <a (click)="showUserProfile()" style="cursor: pointer"><span #username>{{review.username}}</span></a>


                <hr>
                <p>{{review.reviewText}}</p>
            </div>
            <!-- <p *ngIf="updateTrue == false">{{review.reviewText}}</p> -->
            <div *ngIf="updateTrue == true">
                <form [formGroup]="selectRating">
                    <input type="text" formControlName="reviewText">
                    <button mat-button (click)="updateReview(review.id)" type="submit">UPDATE</button>
                </form>
            </div>
            <button mat-button (click)="deleteReview(review.id)">DELETE</button>
            <button mat-button (click)="updateOn()" *ngIf="updateTrue == false">UPDATE</button>
        </mat-expansion-panel>
    </div>
</div>