.user{
    display: flex;
    flex-direction: row;
    border: 3px black solid;
    text-align: center;
    margin-left:40%;
    margin-right:43%;
    color:white;
    /* padding-left:50px; */
}

.profPic{
    width: 2px;
    height: 2px;
    margin-right:110px;
}

.admin{
    text-align: center;
    padding-top: 3%;
}

.yourReviews{
    margin-top:30px;
    /* grid-area: 1  6; */
}

.example-card {
    max-width: 250px;
    margin-right: 20px;
  }
  
  .example-header-image {
    background-size: cover;
  }

.favorites{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    margin-top:30px;
    z-index:3;
}