.user{
    display: flex;
    flex-direction: row;
    border: 3px black solid;
    text-align: center;
    margin-left:40%;
    margin-right:43%;
    color:white;
    /* padding-left:50px; */
}

.profPic{
    width: 4px;
    height: 4px;
    margin-left:45%;
}

.admin{
    text-align: center;
    padding-top: 3%;
}

.reviews{
    margin-top:30px;
    
}

.example-card {
    max-width: 250px;
    margin-right: 20px;
}
  
.example-header-image {
    background-size: cover;
}

.favorites{
    display: flex;
    flex-direction: row;
    margin-right:20px;
    margin-top:30px;
    z-index:3;
    /* justify-content: space-between; */
}

.star {
    font-size: 2em;
    color: grey;
    text-shadow: black 1.5px 1px;
}

.filled {
    color: yellow ;
}

.test{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}


.headerBackground{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    margin-bottom: 5%;
    margin-top: 3%;
    padding-top: 3%;
    /* display:flex;
    flex-direction: column; */
}

.headContainer{
    display:flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: black;
     padding-top: 7%;
    font-family: "Theatre-font";
    text-shadow: 3px 2px 3px gold;
    letter-spacing: 0.1em;
}

#username{
    font-size: 3em;
}

.body{
    background-color: rgba(0, 0, 0, 0.2);
}

h2{
    text-align: center;
    color: white;
    text-shadow: 3em 3em 3em black;
    font-size: 3em;
    margin-bottom: 3%;
    font-family: "Movie-title";
    font-size: 5.5em;
    letter-spacing: 0.2em;
    font-weight: bolder;
  }

.work{
    display: flex;
    flex-direction: column;
}
