.topArea{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* background-color: white; */
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    border-radius: 30px;
}

.movieInfo{
    width: 40%;
    padding: 10px;
}

.poster{
    padding: 10px;
    border: 2px solid black;
}

.movieCard{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    border-radius: 30px;
    padding-bottom: 2em;
}

h1{
    text-align: center;
    padding-top: 10px;
    font-family: "Theatre-font";
    text-shadow: 3px 2px 3px gold;
    font-size: 7em;
    margin-bottom: 0px;
}

.buttons{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

}

.lines{
    border-color: black;
}