<div class="poster">
<img *ngIf="movie.poster !== 'N/A'" src={{movie.poster}} alt="poster" >
</div>

<h1>{{movie.title}}</h1>
<h2>{{movie.genre}}</h2>
<h2>{{movie.imdbID}}</h2>
<h2>{{movie.director}}</h2>
<h3>{{movie.plot}}</h3>
<h3>{{movie.rated}}</h3>
<h3>{{movie.released}}</h3>
<h3>{{movie.runtime}}</h3>
<h3>{{movie.actors}}</h3>
<button mat-raised-button routerLink='/home' color="danger">Back to Home</button>
<button mat-raised-button (click)="onFavoriteSelected()" color="danger">Add To Favorites</button>
<div *ngIf="favoriteSelected">
    Where does {{movie.title}} belong among your top 10 favorites? 
    <div [formGroup]="selectRanking">
    <mat-select formControlName="ranking" value=''>
        <mat-option value='1'>1</mat-option>
        <mat-option value='2'>2</mat-option>
        <mat-option value='3'>3</mat-option>
        <mat-option value='4'>4</mat-option>
        <mat-option value='5'>5</mat-option>
        <mat-option value='6'>6</mat-option>
        <mat-option value='7'>7</mat-option>
        <mat-option value='8'>8</mat-option>
        <mat-option value='9'>9</mat-option>
        <mat-option value='10'>10</mat-option>
    </mat-select>
</div>
    <button mat-raised-button (click)="addToFavorites()" color="danger">Add To Favorites</button>

</div>
<h3 *ngIf="favoriteAdded">Favorite Added!</h3>
<app-reviews 
*ngIf="movie.imdbID" 
[displayedMovie]="movie"
>
</app-reviews>
