/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face{
    font-family:"Theatre-font";
<<<<<<< HEAD
    src: url("/assets/Riemann\ Theatre.otf");
=======
    src: url("/assets/Riemann\ Theatre.otf") format("opentype");
>>>>>>> e3650ffef37640a7c8fb1813bc2d425c806f7ea5
}

/* Global Styling */
body{
    background-image: url("../src/assets/movieSeats.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* .mat-form-field-empty.mat-form-field-label {
    color: white;
} */